<!DOCTYPE html>
<html lang="en">
  <head>
    <title>&middot; wallit &middot; new card</title>
    <script src="sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="sweetalert/dist/sweetalert.css">
    <link rel='shortcut icon' type='image/x-icon' href='/vendor/favicon.ico'/>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/article.css" type="text/css" />
    <link rel="stylesheet" href="/styles/newResource.css" type="text/css" />
  </head>
  <body>
    <header>
      <% include partials/_nav %>
    </header>
    <div class='mainContainer'>
      <div class="sidebar">
          <a href="/resources"><h3>home<h3/></a>
          <div class='tags'>
            <a href="" class="myresources"><h5></h5></a>

        </div>
      </div>
      <div class="main">


      <div class='addNew'>
        <div class='newHeader'>
          <h2>new card</h2>
        </div>
        <div class='newBody'>

        <form action="/api/resources" method="POST">

         <span><input class='styledForm' type='text' name='title' placeholder='title'></span>
         <span><input class='styledForm' type='text' name='description' placeholder='description'></span>
         <span> <input class='styledForm' type='text' name='url' placeholder='url' placeholder=''></span>
          <div class='radioButtons'>
            <input type='checkbox' id='technology' value='900' name='category'>
            <label for="technology">Technology</label>
            <input type='checkbox' id='arts' value='902' name='category'>
            <label for="music">Arts</label>
            <input type='checkbox' id='politics' value='903' name='category'>
            <label for="politics">Politics</label>
            <input type='checkbox' id='sports' value='901' name='category'>
            <label for="sports">Sports</label>
          </div>

        </div>
        <div class='newFooter'>

          <input type='submit' class='btn submitNewCard'></button>

        </div>
      </div>






      </div>
      </div>
    </div>
  </body>
</html>