article {
    width: 360px;
    text-align: center;
    transition: all 0.5s;
    margin: 15px;
    overflow: hidden;
    opacity: 0.8;
}

article:hover {
    opacity: 1;
    box-shadow: 4px 4px 10px #171717;
}

article .articleHeader {
    background: linear-gradient(to right,#8777DB,#6898F8);
    padding: 10px;
    height: 50px;
}

article .articleHeader h5 {
    padding-top: 10px;
}

article .articleBody {
    height: 150px;
}

article .articleFooter {
    padding: 10px;
    color: black;
    text-align: right;
    height: 55px;
}

article img {
    max-width: 360px;
}

article i {
    color: #6898F8;
    transition: all 0.5s;    
}

article i:hover {
    color: #8777DB;
    transform: scale(1.1);
}

.like {
    margin-right: 263px;
    color: pink;
}

.like:hover {
    color: hotpink;
}

.add {
    
}