* {
  font-family: 'Open Sans', sans-serif;
}

html {
  background-color: #212121;
  color: #ffffff;
}

body {
  background-color: #212121;
}

header {
  background-color: #212121;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 999;
}

body .mainContainer .container {
  width: 500px;
  margin-top: 200px;
}

.mainContainer {
  position: relative;
  height: 100%;
}

.mainContainer .sidebar a {
  text-decoration: none;
  color: #ffffff;
}

.mainContainer .sidebar h3, h5 {
  transition: 0.3s all;
}

.mainContainer .sidebar h3:hover {
  color: #6898F8;
}

.mainContainer .sidebar h5:hover {
  color: #8777DB;
}

.navbar {
  background-color: #212121;
  margin: 0 auto;
  min-height: 75px;
  border-bottom: 1px solid white;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #212121;
  border: 1px solid white;
}

.navbar-nav > li > .dropdown-menu > a {
  color: white;
}

.navbar-nav > li > .dropdown-menu > a:hover {
  color: #212121;
}

.navbar-brand {
  margin-left: 70px;
}

.dropdown-toggle {
  margin-right: 100px;  
}

.navbar form {
  margin-right: 100px;
}

.navbar #searchBar {
  margin-top: 5px;
}

.styledForm {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  width: 175px;
  margin-right: 10px;
}

.styledForm:focus {
  outline: none;
}

.loginButton {
  background: linear-gradient(to right,#8777DB,#6898F8);
  width: 75px;
  height: 30px;
  line-height: 7px;
  font-size: 15px !important;
  padding-bottom: 7px !important;
  color: white;
}

.loginButton:hover {
  background: linear-gradient(to right, #6898F8,#8777DB);
}

.sidebar {
  padding-top: 25px;
  text-align: center;
  padding: 25px;
  margin-top: 75px;
  background-color: #212121;
  color: white;
  width: 300px;
  position: fixed;
  height: 100%;
}

#search {
  display: none;
}

#searchBar {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  display: none;
  width: 300px;
  color: white;
}

#searchBar:focus {
  outline-width: 0;
}

.main {
  padding-top: 25px;
  min-height: calc(100vh - 75px);
  margin-top: 75px;
  padding: 25px;
  background-color: #515151;
  color: white;
  position: absolute;
  left: 300px;
  right: 0px;
}

.sidebar h3 {
  margin-top: 25px;
}

.tags {
  margin-top: 50px;
  border-top: 1px solid gray;
  padding-top: 30px;
}

.tags h5 {
  margin-top: 20px;
}

.main h1 {
  margin-bottom: 25px;
  text-align: center;
}

.main .row {
  margin-bottom: 50px;
}

.main img {
  transition: all 0.5s;  
}


.grid {
  margin: 0 auto;
}

@media (max-width: 1909px) {
  .grid {
    max-width: 1170px;
  }
}

@media (max-width: 1519px) {
  .grid {
    max-width: 780px;
  }
}

@media (max-width: 1129px) {
  .grid {
    max-width: 390px;
  }
}

.grid-item {
  float: left;
}

.grid-item--width2 { 
  width: 350px; 
}
.grid-item--height2 {
   height: 350px; 
}

.logo {
  width: 50px;
  height: 50px;
}

.logoText {
  font-size: 150%;
  position: absolute;
  top: 15px;
  left: 145px;
}

.hideMe {
  display: none;
  width: 1px;
  height: 1px;
}

.wallitColor {
  color: mediumslateblue;
}

.material-icons {
  font-size: 36px;
}

#editCard {
  background-color: #212121;
  color: white;
  padding: 25px;
  text-align: center;
  box-shadow: 3px 3px 3px black;
}

#cboxLoadedContent {
  margin: 0px !important;
}

#cboxOverlay {
  background-color: black !important;
  opacity: 0.5 !important;
}

#cboxContent  {
  background-color: #212121 !important;
}