* {
  font-family: 'Open Sans', sans-serif;
}

html {
  background-color: #212121;
  color: #ffffff;
}

body {
  background-color: #212121;
}

header {
  background-color: #212121;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 999;
}

body .mainContainer .container {
  width: 500px;
  margin-top: 200px;
}

.mainContainer {
  position: relative;
  height: 100%;
}

.navbar {
  background-color: #212121;
  margin: 0 auto;
  min-height: 75px;
  border-bottom: 1px solid white;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #212121;
  border: 1px solid white;
}

.navbar-nav > li > .dropdown-menu > a {
  color: white;
}

.navbar-nav > li > .dropdown-menu > a:hover {
  color: #212121;
}

.navbar-brand {
  margin-left: 80px;
}

.dropdown-toggle {
  margin-right: 100px;  
}

.navbar form {
  margin-right: 100px;
}

.navbar #searchBar {
  margin-top: 5px;
}

.sidebar {
  padding-top: 25px;
  text-align: center;
  padding: 25px;
  margin-top: 75px;
  background-color: #212121;
  color: white;
  width: 300px;
  position: fixed;
  height: 100%;
}

#searchBar {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  display: none;
  width: 300px;
  color: white;
}

#searchBar:focus {
  outline-width: 0;
}

.main {
  padding-top: 25px;
  min-height: calc(100vh - 75px);
  margin-top: 75px;
  padding: 25px;
  background-color: #515151;
  color: white;
  position: absolute;
  left: 300px;
  right: 0px;
}

.sidebar h3 {
  margin-top: 25px;
}

.tags {
  margin-top: 50px;
  border-top: 1px solid gray;
  padding-top: 30px;
}

.tags h5 {
  margin-top: 20px;
}

.main h1 {
  margin-bottom: 25px;
  text-align: center;
}

.main .row {
  margin-bottom: 50px;
}

.main img {
  transition: all 0.5s;  
}

.main img:hover {
  box-shadow: 4px 4px 10px #171717;
  transform: scale(1.02);
}

.grid {
  margin: 0 auto;
}

@media (max-width: 1909px) {
  .grid {
    width: 1200px;
  }
}

@media (max-width: 1519px) {
  .grid {
    width: 800px;
  }
}

@media (max-width: 1129px) {
  .grid {
    width: 400px;
  }
}

.grid-item {
  float: left;
  background: #e6e5e4;
  border: 2px solid #b6b5b4;
}

.grid-item--width2 { 
  width: 450px; 
}
.grid-item--height2 {
   height: 450px; 
}

.logo {
  width: 50px;
  height: 50px;
}

.logoText {
  font-size: 150%;
  position: absolute;
  top: 15px;
  left: 160px;
}