.main {
    background-color: #212121;
    left: 0px;
    right: 0px;
    .container {
        margin-top: 50px !important;
    }
    input {
        margin-bottom: 3px;
        background: none;
        border: none;
        border-bottom: 2px solid white;
        color: white;
        width: 500px;
        margin-top: 15px;
    }
    input:focus {
        outline: none;
    }
}

.sidebar {
    width: 0px;
}

.mainContainer span input {
    background: linear-gradient(to right,#8777DB,#6898F8);
    border: 0;
    margin: 0 auto;
    margin-top: 50px !important;
    width: 150px !important;
    &:hover {
    background: linear-gradient(to right, #6898F8,#8777DB);
    
    }
}