.innerContent {
    padding: 50px;
    background-color: #212121;
    margin-top: 50px !important;
    max-width: 550px;
    margin: auto;
    text-align: center;
}

h2 {
    padding: 25px;
}

.innerContent form {
    margin-top: 25px;
}

.innerContent input {
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 3px;
}

.addNew {
    background-color: #212121;
    margin: 0 auto;
    width: 600px;
    margin-top: 50px;
    text-align: center;
}

.newHeader {
    height: 90px;
    background: linear-gradient(to right,#8777DB,#6898F8);    
}

.newBody {
    padding: 25px;
    min-height: 400px
}

.newBody span input {
    font-size: 120%;
    padding-top: 25px;
    margin: 0 auto;
    width: 350px;
    display: block;
}

.newBody input {
    margin-top: 30px;
    margin-left: 20px;
}

.newFooter {
    padding: 25px;
    height: 100px;
}

.submitNewCard {
    background: linear-gradient(to right,#8777DB,#6898F8);
    width: 75px;
    height: 30px;
    line-height: 7px;
    font-size: 15px !important;
    padding-bottom: 7px !important;
    color: white;
}

.submitNewCard:hover {
    background: linear-gradient(to right, #6898F8,#8777DB);
}