.innerContent {
    padding: 25px;
    background-color: gray;
    height: 500px;
    margin-top: 50px !important;
    max-width: 960px;
    margin: auto;
    text-align: center;
}

h2 {
    padding: 25px;
}

.innerContent form {
    margin-top: 50px;
}

.innerContent input {
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 3px;
}